@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.modo-claro {
  --color-30: #13441D;
  --color-10: #4BCE65;
  --color-60: #BBECC5;
  --color-bg: #EFFBF1;
  --color-text: #051408;
}

.modo-oscuro {
  --color-30: #EBFAEE;
  --color-10: #4BCE65;
  --color-60: #13441D;
  --color-bg: #041006;
  --color-text: #EBFAEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-container input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.dark-container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--color-30);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}
.dark-container label:after {
  content: "";
  background: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
.dark-container input:checked + label {
  background: var(--color-10);
}
.dark-container input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.swal2-title {
  font-family: "MuseoModerno", cursive;
  font-size: 40px !important;
  color: var(--color-30) !important;
}

.swal2-html-container {
  font-family: "MuseoModerno", cursive;
  font-size: 20px !important;
  color: var(--color-30) !important;
}

.swal2-confirm {
  background-color: var(--color-60) !important;
  color: var(--color-text) !important;
  font-family: "MuseoModerno", cursive;
}

.swal2-cancel {
  background-color: #707e78 !important;
  color: black !important;
  font-family: "MuseoModerno", cursive;
}

.swal2-popup {
  background-color: var(--color-10);
}

.swal2-input {
  background-color: var(--color-60);
  border-radius: 0.75rem;
}

body.swal2-shown > [aria-hidden=true] {
  transition: 0.1s filter;
  filter: blur(10px);
}

.modal-a {
  text-decoration: none;
  color: var(--color-60);
  background-color: var(--color-30);
  border-radius: 1.25rem 1.25rem 0 0;
  padding: 0 0.625rem;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.modal-a:hover {
  background-color: #FF0000;
  transform: scale(1.05);
  transform: translateZ(50px);
  color: black;
}

.modal-img {
  width: 70%;
  border-radius: 1.25rem;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 271px 1fr;
  gap: 0px;
  height: 100%;
}

.header {
  display: block;
  position: fixed;
  background-color: #13441D;
  width: 271px;
  height: 100vh;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}
.header h1 {
  font-family: "MuseoModerno", cursive;
}
.header h1 a {
  color: #EBFAEE;
  text-decoration: none;
}
.header .datosUsuario {
  padding: 1.875rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .datosUsuario h2 {
  padding-top: 0.625rem;
  font-family: "MuseoModerno", cursive;
  font-size: 30px;
  color: #EBFAEE;
  justify-self: center;
  text-align: center;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled a {
  text-decoration: none;
}

.com-aleat {
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
}
.navbar ul {
  border-top: solid 1px #13441D;
  width: 100%;
}
.navbar li {
  border-bottom: solid 1px #13441D;
  display: flex;
  justify-content: end;
  padding-right: 1.875rem;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 1.5rem 0 0 1.5rem;
}
.navbar li:hover {
  background-color: var(--color-10);
  transform: scale(1.05);
  transform: translateZ(50px);
}
.navbar a {
  padding: 1.1em 0;
  color: #EBFAEE;
  font: 400 1.125em "MuseoModerno", cursive;
  text-align: center;
}
.navbar a:hover {
  color: #fff;
}

.activo {
  background-color: var(--color-10);
}

body {
  overflow: hidden;
}

main {
  background-color: var(--color-bg);
  background-image: url(../assets/img/foto-inicio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
}
main .mensaje {
  font-size: 1.875rem;
  font-family: "MuseoModerno", cursive;
  color: var(--color-text);
  background-color: var(--color-10);
  border-radius: 6.25rem;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-self: start;
}

.grid-main {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  height: 100%;
  display: grid;
  grid-template-rows: 150px 360px 360px 600px 360px;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: none;
}

.logo {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  padding-left: 3.75rem;
}
.logo img {
  width: 13.875rem;
  padding-top: 3rem;
}

.dark-container {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  justify-self: flex-end;
  padding-right: 15%;
  align-self: center;
}

.bienvenida {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  width: 91%;
  height: 70%;
  background: var(--color-60);
  box-shadow: 0px 8px 8px 3px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-left: 3.75rem;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
}
.bienvenida h2 {
  padding: 2rem 2.125rem;
  padding-bottom: 1rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "MuseoModerno", cursive;
  color: var(--color-text);
}
.bienvenida h2 strong {
  color: var(--color-10);
}
.bienvenida p {
  color: var(--color-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  padding: 0 1.875rem 0.625rem 1.875rem;
}

.objetivo {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
  justify-self: end;
  margin-right: 15%;
  width: 80%;
  height: 100%;
  background-color: var(--color-10);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
}
.objetivo h2 {
  font-family: "MuseoModerno", cursive;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-60);
}
.objetivo .obj {
  color: var(--color-30);
}
.objetivo .kcal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-30);
  font-size: 32px;
  font-weight: bolder;
  line-height: normal;
}
.objetivo .kcal strong {
  font-size: 80px;
  line-height: 90%;
}
.objetivo h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-60);
  font-family: "MuseoModerno", cursive;
}

.rutinas, .ejercicios {
  opacity: 1;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 4;
  margin-left: 3.75rem;
  width: 90%;
  height: 110%;
  background-color: var(--color-60);
  border-radius: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  box-shadow: 0px 8px 8px 3px rgba(0, 0, 0, 0.25);
  transition: opacity 0.4s ease-out;
  margin-top: 5.5rem;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
}
.rutinas .h2-container, .ejercicios .h2-container {
  display: flex;
  gap: 1.875rem;
  align-items: center;
  padding: 1.25rem 2.5rem;
}
.rutinas h2, .ejercicios h2 {
  font-family: "MuseoModerno", cursive;
  font-size: 32px;
  color: var(--color-30);
  padding-bottom: 0rem;
}
.rutinas table, .ejercicios table {
  width: 90%;
  margin: 0 5%;
  text-align: left;
}
.rutinas table thead tr th, .ejercicios table thead tr th {
  font-family: "MuseoModerno", cursive;
  font-size: 1rem;
  color: var(--color-30);
}
.rutinas table tbody td, .ejercicios table tbody td {
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s linear;
  transition-delay: 0.01s, 0s;
  opacity: 0.6;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--color-30);
  font-weight: bold;
}
.rutinas table tbody tr button, .ejercicios table tbody tr button {
  border-radius: 0.75rem;
  border: none;
  font-family: "MuseoModerno", cursive;
  width: 1.25rem;
  background-color: var(--color-30);
  color: var(--color-60);
  cursor: pointer;
  font-weight: bolder;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rutinas table tr:hover td, .ejercicios table tr:hover td {
  background-color: var(--color-10);
  transition-delay: 0s, 0s;
  opacity: 1;
  font-size: 1.01em;
}
.rutinas table td, .ejercicios table td {
  transform-origin: center left;
  transition-property: transform;
  transition-duration: 0.01s;
  transition-timing-function: ease-in-out;
}
.rutinas table tr:hover td, .ejercicios table tr:hover td {
  transform: scale(1.01);
}
.rutinas table th, .ejercicios table th, .rutinas table td, .ejercicios table td {
  padding: 0.5em;
}

.rutinas::-webkit-scrollbar, .ejercicios::-webkit-scrollbar {
  width: 0;
}

.agregarRut {
  background-color: var(--color-10);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 12px;
  cursor: pointer;
  padding: 0;
}
.agregarRut p {
  display: flex;
  align-items: start;
  color: var(--color-60);
  font-family: "MuseoModerno", cursive;
  font-weight: bolder;
  font-size: 2.0625rem;
  text-align: center;
  justify-content: center;
}

.cargarRutina {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 3;
  background-color: var(--color-10);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0.9375rem;
  align-self: self-start;
  margin-top: 3.875rem;
  transition: opacity 0.3s, height 0.3s ease-out;
}
.cargarRutina h2 {
  font-size: 32px;
  font-family: "MuseoModerno", cursive;
  color: var(--color-30);
  padding-bottom: 0.75rem;
}
.cargarRutina .form-rutina {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.cargarRutina .form-rutina label {
  font-size: 20px;
  font-family: "MuseoModerno", cursive;
  color: var(--color-30);
}
.cargarRutina .form-rutina div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
}
.cargarRutina .form-rutina div input {
  padding-left: 1rem;
  font-family: "Poppins", sans-serif;
  height: 2.625rem;
  width: 6.25rem;
  border-radius: 0.75rem;
  background-color: var(--color-60);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cargarRutina .form-rutina .nombre-rutina {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.625rem;
}
.cargarRutina .form-rutina .nombre-rutina input {
  width: 100%;
}
.cargarRutina .form-rutina .buttons {
  display: flex;
  justify-content: space-around;
}
.cargarRutina .form-rutina .buttons button {
  border-radius: 0.75rem;
  background-color: var(--color-60);
  font-family: "MuseoModerno", cursive;
  font-weight: bold;
  width: 9.375rem;
  height: 2.5rem;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.cargarRutina .form-rutina .buttons .guardar {
  background-color: var(--color-30);
  color: var(--color-60);
  width: 11.25rem;
}

.seleccion-ejercicios {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: "MuseoModerno", cursive;
  color: var(--color-30);
  align-self: self-start;
  padding-top: 1.875rem;
  justify-self: center;
}

.ejercicios {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  align-self: flex-start;
  height: 37.5rem;
  margin-top: 6.25rem;
  scrollbar-width: none;
}
.ejercicios h2 {
  padding: 2rem 2.125rem;
  padding-bottom: 1rem;
}

.guardar-rutina {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: flex-start;
  justify-self: center;
}

.inicio {
  width: 34.25rem;
  height: 40.5rem;
  background-color: var(--color-60);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inicio img {
  padding: 1.875rem 0;
  width: 12.5rem;
}
.inicio .form-inicio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  padding: 0 1.25rem;
}
.inicio .form-inicio legend {
  font-family: "Poppins", sans-serif;
  color: var(--color-30);
  text-align: center;
}
.inicio .form-inicio label {
  font-size: 20px;
  font-family: "MuseoModerno", cursive;
  color: var(--color-30);
}
.inicio .form-inicio .selects {
  display: flex;
  gap: 0.625rem;
}
.inicio .form-inicio .selects select {
  border-radius: 0.75rem;
  height: 1.875rem;
  font-family: "MuseoModerno", cursive;
  font-weight: bold;
  background-color: var(--color-30);
  border: none;
  color: var(--color-60);
  opacity: 90%;
}
.inicio .form-inicio div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
  gap: 1.875rem;
}
.inicio .form-inicio div input {
  padding-left: 1rem;
  font-family: "Poppins", sans-serif;
  height: 2.625rem;
  width: 6.25rem;
  border-radius: 0.75rem;
  background-color: var(--color-30);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--color-60);
  opacity: 90%;
}
.inicio .form-inicio .nombre-usuario {
  display: flex;
}
.inicio .form-inicio .nombre-usuario input {
  width: 100%;
}
.inicio .form-inicio button {
  align-self: center;
  border-radius: 0.75rem;
  background-color: var(--color-10);
  font-family: "MuseoModerno", cursive;
  font-weight: bold;
  font-size: 1rem;
  width: 9.375rem;
  height: 2.5rem;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.ejercicios-rutina, .ejercicios-cargar {
  opacity: 1;
  display: block;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: end;
  height: 100%;
  background-color: var(--color-10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: 0;
  transition: opacity 0.4s ease-out;
}
.ejercicios-rutina h2, .ejercicios-cargar h2 {
  font-family: "MuseoModerno", cursive;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-30);
}
.ejercicios-rutina table, .ejercicios-cargar table {
  width: 90%;
  margin: 0 5%;
  text-align: center;
}
.ejercicios-rutina table th, .ejercicios-cargar table th, .ejercicios-rutina table td, .ejercicios-cargar table td {
  padding: 0.5em;
  font-family: "MuseoModerno", cursive;
  color: var(--color-30);
}

.ejercicios-cargar::-webkit-scrollbar {
  width: 0;
}

.ejercicios-cargar {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: flex-start;
  gap: 0.625rem;
  padding-top: 1.25rem;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 6.25rem;
  margin-bottom: 50vh;
  height: 37.5rem;
  margin-right: 15%;
  width: 80%;
  border-radius: 20px;
}
.ejercicios-cargar input {
  width: 3.125rem;
  border-radius: 0.75rem;
  border: none;
  height: 1.875rem;
  color: #13441D;
  font-family: "MuseoModerno", cursive;
  text-align: center;
}

.btn {
  border-radius: 0.75rem;
  background-color: var(--color-30);
  color: var(--color-60);
  font-family: "MuseoModerno", cursive;
  width: 12.5rem;
  height: 3.125rem;
  margin: 0.625rem 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-color: var(--color-10);
  color: var(--color-30);
}

.oculto {
  display: none;
}

.oct-anim {
  opacity: 0;
  display: none;
}

@media (max-width: 1400px) {
  body {
    overflow: auto;
  }
  .grid-main {
    grid-template-rows: 150px 400px 500px;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.125rem;
  }
  .dark-container {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .bienvenida {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 85%;
    height: 100%;
  }
  .objetivo {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 10%;
  }
  .rutinas, .ejercicios {
    width: 90%;
    height: 90%;
    margin-top: 0;
  }
  .ejercicios {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 3.75rem;
    height: 120%;
  }
  .seleccion-ejercicios {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    padding-top: 0;
  }
  .ejercicios-cargar {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-top: 8.25rem;
    width: 90%;
    margin-right: 4.5%;
  }
  .guardar-rutina {
    display: flex;
    align-items: end;
    height: 16.875rem;
  }
}
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 210px 1fr;
  }
  .header {
    width: 13.125rem;
  }
  .grid-main {
    grid-template-rows: 150px 450px 500px;
  }
  .bienvenida {
    margin-left: 3.125rem;
  }
  .rutinas, .ejercicios {
    width: 87%;
    margin-left: 3.125rem;
  }
}
@media (max-width: 980px) {
  .grid {
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
  }
  .header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
  }
  .header .datosUsuario {
    padding-left: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    gap: 0.9375rem;
  }
  .header .datosUsuario h2 {
    padding-top: 0;
    font-family: "MuseoModerno", cursive;
    font-size: 20px;
    color: #EBFAEE;
    justify-self: center;
    text-align: center;
  }
  .header .datosUsuario img {
    width: 3.125rem;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 3.125rem;
    gap: 1.25rem;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    width: 30%;
  }
  .navbar li {
    width: 12.5rem;
    border-bottom: solid 1px #13441D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3125rem 0.625rem;
    border-radius: 1.5rem;
    height: 3.75rem;
  }
  .grid-main {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
  }
  .rutinas, .ejercicios {
    margin-left: 3.75rem;
  }
  .ejercicios {
    margin-left: 3.125rem;
  }
  .oculto {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }
  .header .datosUsuario {
    padding-left: 1.25rem;
    width: 20%;
    gap: 0.9375rem;
  }
  .header .datosUsuario h2 {
    font-size: 20px;
  }
  .header .datosUsuario img {
    width: 3.125rem;
  }
  .inicio {
    width: 31.25rem;
    height: 34.5rem;
  }
  .inicio img {
    width: 9.375rem;
  }
  .inicio .form-inicio legend {
    font-size: 1rem;
  }
  .inicio .form-inicio label {
    font-size: 16px;
  }
  .inicio .form-inicio div input {
    height: 1.875rem;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 3.125rem;
    gap: 1.25rem;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    width: 30%;
  }
  .navbar li {
    width: 12.5rem;
    border-bottom: solid 1px #13441D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3125rem 0.625rem;
    border-radius: 1.5rem;
    height: 3.75rem;
  }
  .oculto {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .datosUsuario h2 {
    font-size: 16px;
  }
  .navbar {
    gap: 2.5rem;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    width: 30%;
  }
  .navbar li {
    width: 7.5rem;
    transition: none;
  }
  .navbar li:hover {
    background-color: #13441D;
  }
  .grid-main {
    grid-template-rows: 180px 400px 400px 500px;
  }
  #logo {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    padding-left: 0;
    justify-self: center;
    align-self: self-start;
    margin-top: 1.25rem;
  }
  .logo {
    padding-left: 0;
  }
  .logo img {
    width: 10.875rem;
    padding-top: 0;
  }
  .dark-container {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0;
    justify-self: center;
    align-self: flex-end;
  }
  .inicio {
    width: 25.25rem;
    height: 32.5rem;
  }
  .inicio img {
    width: 9.375rem;
  }
  .inicio .form-inicio legend {
    font-size: 0.875rem;
  }
  .inicio .form-inicio label {
    font-size: 12px;
  }
  .inicio .form-inicio .selects select {
    font-size: 0.5rem;
  }
  .inicio .form-inicio div input {
    height: 1.875rem;
  }
  .bienvenida {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 2.0625rem;
  }
  .objetivo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-right: 8.5%;
    width: 85%;
    height: 100%;
  }
  .rutinas, .ejercicios {
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 1.875rem;
  }
  .rutinas table thead tr th, .ejercicios table thead tr th {
    text-align: center;
  }
  .ejercicios {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .ejercicios-cargar {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-top: 8.25rem;
    width: 90%;
    margin-right: 4.5%;
  }
  .guardar-rutina {
    grid-row-start: 4;
    grid-row-end: 5;
    height: 22.875rem;
  }
  .oculto {
    display: none;
  }
}
@media (max-width: 576px) {
  .grid-main {
    grid-template-rows: 180px 440px 400px 500px;
  }
  .navbar a {
    padding: 1.1em 0;
    color: #EBFAEE;
    font: 400 0.9em "MuseoModerno", cursive;
    text-align: center;
  }
  .navbar a:hover {
    color: #fff;
  }
  .ejercicios-rutina table, .ejercicios-cargar table {
    width: 100%;
    margin: 0;
  }
  .swal2-html-container {
    font-size: 12px !important;
  }
  .swal2-title {
    font-size: 30px !important;
  }
  .oculto {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
