$typo-titulos: 'MuseoModerno', cursive;
$typo-parrafos: 'Poppins', sans-serif;

.modo-claro {
    --color-30: #13441D;
    --color-10: #4BCE65;
    --color-60: #BBECC5;
    --color-bg: #EFFBF1;
    --color-text: #051408;
  }
  
  .modo-oscuro {
    --color-30: #EBFAEE;
    --color-10: #4BCE65;
    --color-60: #13441D;
    --color-bg: #041006;
    --color-text: #EBFAEE;
  }